body {
    background: #fff;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    margin-top: 0px;
}

header {
        height: 90%;
        background:transparent;
    }

.inner-width{
    max-width: 1170px;
    padding: 0 10px;
    margin:0 auto;
}

.logo{
    float: left;
    padding:20px 0;
}

.logo img{
    height:50%;
    / margin-left: 10px; /
}

.menu{
    float: right;
    display: flex;
    align-items: center;
    min-height:90%;
    padding: 10px 0 0 0;
}

.menu li{
    margin-left:10px;
    /*text-transform: uppercase; */
    color: #000;
    font-size:14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .2s linear;
    display: inline-flex;
}

.menu li a{
    transition: .2s linear;
}

.menu li a:hover{
    background: transparent;
    color: #2C976D;
    /*transform: scale(1.1);*/
}

.menu i{
    margin-right: 8px ;
    transition: .2s linear;
}

.menu i:hover{
    color: #2C976D;
}

.menu-toggle-btn{
    float:right;
    height: 90%;
    line-height: 90% !important;
    color: #000;
    font-size:26px;
    display: none !important;
    cursor: pointer;
}

.flex{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}

/*section1*/

.hero{
    clear: both;
}

.hero .left{
    margin-left: 135;
    padding-top: 135px;
    width: 50%;
}

.hero .left h1{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 1.25em;
    color: #444;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
}

.hero .left p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #959595;
    margin-right: 154px;
    padding-top: 46px;
}

.reserv a{
    text-decoration: none;
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #fff;
    padding: 5px 10px;

}

.reserv:hover{
    background: #8BD19E;
}

.reserv{
    position: relative;
    top: 0px;
    background: #196046;
    padding: 22px 48px;
    display: inline-block;
    margin-top: 66px;
    transition: 0.5s;
}

.hero .right{
    width: 50%;
    box-sizing: border-box;
}

.hero .right{
    z-index: -1;
    margin-left: -85px;
    margin-top: 70px;
}

/*section2*/

.wwa h5{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    color: #8BD19E;
    text-align: center;
    margin-top: 80px;
}

.wwa h2{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.5em;
    color: #444;
    text-align: center;
    padding: 44px 71px 0px;
}

/*galeri*/

.gallery{
    display:flex;
    margin-top: 105px;
}

.galeri{
    width:1170px;
    position: relative;
    display:block;
}

.grid-item{
    float:left;
    padding:15px;
    box-sizing: border-box;
}
.grid-item a div{
    display:block;
    height:100%;
    width: 100%;
}

.grid-item a{
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
}

.gi-1{
    width:44%;
    height: 544px;
}
.gi-1 div{
    background-image:url("../img/galeri1.png");
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.gi-1 div:hover{
    transform: scale(1.1);
}
.gi-2{
    width:24%;
    height: 272px;
}
.gi-2 div{
    background-image:url("../img/galeri2.png");
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.gi-2 div:hover{
    transform: scale(1.1);
}
.gi-3{
    width:32%;
    height: 272px;
}
.gi-3 div{
    background-image:url("../img/galeri3.png");
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.gi-3 div:hover{
    transform: scale(1.1);
}
.gi-4{
    width:15%;
    height: 272px;
}
.gi-4 div{
    background-image:url("../img/galeri4.png");
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.gi-4 div:hover{
    transform: scale(1.1);
}
.gi-5{
    width:41%;
    height: 272px;
}
.gi-5 div{
    background-image:url("../img/galeri5.png");
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.gi-5 div:hover{
    transform: scale(1.1);
}

/*section4*/

.ourspace {
    margin-top: -135px;
    background-color: #196046;
    padding-bottom: 40px;
}

.satu {
    padding-top: 200px;
}

.hidari{
    box-sizing: border-box;
    width: 70%;
}

.title h1 {
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.5em;
    color: #fff;
}

.number1{
    display: flex;
    padding-top: 105px;
    padding-left: 80px;
}

.number2{
    display: flex;
    padding-top: 84px;
    padding-left: 80px;
}

.hidari .a{
    box-sizing: border-box;
    width: 50%;
}

.hidari .b{
    box-sizing: border-box;
    width: 50%;
}

.hidari h5{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.5em;
    /* identical to box height */
    color: #fff;
    text-align: left;
    margin: 0 0 10px 0;
    padding: 0;
}

.text p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #fff;
    margin: 60px 0 0 0;
    padding: 0 0 73px 0;
}

.hidari p{
    font-family: Poppins;
    font-style: normal;   
    font-weight: normal;
    font-size: 26px;
    line-height: 1.5em;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.pic {
    margin-bottom: -130px;
    overflow: hidden;
}

.pic .uwau:hover{
    transform: scale(1.1);
}

.pic .uwau{
    transition: 0.5s;
    display: block;
}

/*section5*/

.monial h5{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
    color: #8BD19E;
}

.monial h2{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.25em;
    color: #444;
    text-align: center;
    padding: 44px 71px 0px;
    margin-bottom: 60px;
}

.testimoni{
    margin-top: 160px;
}

/*section6*/

.row {
    width: 100%;
}

.testimoni .profile{
    background: #F4FBF2;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    width: 33.3%;
    display: table-cell;
    position: relative;
    padding-bottom: 156px;
}

.profile p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #4C4C4C;
    margin: 35px 31px 0 32px;
}

.profile-name{
    padding-left: 110px;
    bottom: 40px;
    position: absolute;
}

.profile-name h2 {
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #4C4C4C;
    margin: 0px;
}

.profile-name p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5em;
    color: #4C4C4C;
    margin: 0px;
}

.profile-name img{
    position: absolute;
    left: 32px;
    bottom: -6px;
}


/*section7*/

.promo{
    background: #196046;
    margin-top: 100px;
}

.promo .left {
    width: 70%;
    margin-top: 119px;
    box-sizing: border-box;
    position: relative;
}

.promo .right{
    width: 30%;
    box-sizing: border-box;
}

.promo .left h1{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    color: #8BD19E;
    margin-bottom: 60px;
}

.promo .left h2{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.25em;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.promo .right .promoimg{
    display: block;
    margin-top: 70px;
    margin-left: 8px;
}

form{
    position: relative;
    box-sizing: border-box;
    width: 89%;
}

form .email{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.25em;
    color: #959595;
    padding: 35px 390px 35px 28px;
    box-sizing: border-box;
    background: #E5E5E5;
    box-shadow: 0px 0px 0px 2px transparent;
    color: #000;
    -webkit-transition: box-shadow 0.3s;
    transition: 0.3s;
    width: 100%;
    outline: none;
    border: none;
}

form .email:focus{
    background: #fff;
    box-shadow: 0px 0px 0px 2px #8BD19E;
}

form .email:hover{
    box-shadow: 0px 0px 0px 2px #8BD19E;
}


form button{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    color: #FFFFFF;
    background: #2C976D;
    border: none;
    padding: 20px 70px;
    position: absolute;
    right: 0px;
    margin: 12px;
    transition: 0.5s;
}

form button:hover{
    background-color: #8BD19E;
}

/*footer*/

footer{
    padding-top: 190px;
    padding-bottom: 138px;
}

.desc{
    width: 40%;
}

.desc h3{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #8BD19E;
    margin: 0;
}

.desc p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.25em;
    color: #959595;
    margin: 57px 110px 0 0;
}

.info{
    width: 20%;
}

.info .empat{
    font-family: Krona One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5em;
    color: #000000;
    margin: 0;
}

.info ul a{
    margin-top: 57px;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5em;
    color: #959595;
}

.info ul {
    list-style: none;
    padding: 0;
    padding-top: 30px;
}

.info ul li{
    padding-bottom: 30px;
    transition: 0.5s;
}

.info ul li:hover{
    padding-left: 20px;
}

.imglogo {
    margin-top: 52px;
}

.imglogo img{
    padding-right: 43px;
    transition: 0.5s;
}

.imglogo img:hover{
    transform: scale(1.2);
}

/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {*/
    @media only screen and (max-width: 1024px) {

    /* header */

    header{
        max-width: 800px;
        margin: 0 auto;
    }

    nav a{
        font-size:18px;
    }

    .menu{
        margin-right: -30px;
    }

    .menu i{
        margin: 0px;
    }

    /* section */
    .flex{
        max-width: 800px;
    }
    
    .hero .left h1{
        font-size: 36px;
        padding-bottom: 0;
    }

    .hero .left p{
        font-size:16px;
        /* padding-top:39px; */
        margin-right: 85px;
        padding-top: 15px;
    }

    .reserv{
        padding: 11px 24px;
        margin-top: 33px;
    }

    .reserv a{
        font-size: 12px;
        padding: 4px 8px;
    }

    .hero .right .au{
        width: 457px;
        margin-left: 28px;
    }
    
    /* section2 */

    section .wwa{
        padding-top:60px;
    }

    .wwa h5{
        font-size:22px;
        margin-top: 40px;
    }

    .wwa h2{
        font-size: 30px;
        padding: 22px 33px;
        margin: 0;
    }

    /* section3 */

    .gi-1{
            height:400px;
        }
    .gi-2, .gi-3, .gi-4, .gi-5{
        height:200px;
    }
    

    /* section4 */

    .ourspace{
        padding-bottom: 0;
    }

    .hidari{
        width: 60%;
    }

    .title h1{
        font-size: 32px;
        line-height:35px;
    }

    .number1{
        padding: 30px 0 0 70px;
    }
    
    .hidari h5{
        font-size:30px;
        line-height:30px;
    }

    .hidari p{
        font-size:20px;
        line-height:25px;
    }

    .number2{
        padding:30px 0 0 70px;
    }
     
    .tadashi{
        width:40%;
        padding-left: 35px;
    }

    .text p{
        font-size:12px;
        margin: 40px 0 0 0;
        padding: 0 0 45px 0;
    }

    .pic .uwau{
        width:275px;
        margin-bottom: 47px;
    }

    /* section5 */

    .testimoni{
        margin-top:125px;  
    }

    .monial h5{
        font-size: 22px;
        line-height: 40px;
    }

    .monial h2{
        font-size:30px;
        line-height:35px;
        margin-bottom: 50px;
    }

    .profile{
        width:100%;
    }

    .profile p{
        margin: 25px 16px 0 16px;
        font-size: 14px;
    }

    .profile-name{
        padding-left: 85px;
        bottom: 30px;
    }

    .profile-name img {
        left: 16px;
        bottom: -5px;
    }

    .profile-name h2 {
        font-size:11px;
        line-height:15px;
    }

    .profile-name p{
        font: size 11px;
        margin: 0px;
    }

    /* section6 */

    .promo{
        margin-top:190px;
    }
    .promo .left h1{
        font: size 22px;
        margin: 0;
    }

    .promo .left h2{
        font-size: 35px;
        padding: 25px 0;
        margin: 0;
    }

    form .email{
        font-size: 22px;
        line-height: 25px;
        padding: 25px 215px 25px 15px;
    }

    form button{
        font-size: 22px;
        line-height: 25px;
        right: 0px;
        margin: 15px;
        padding: 10px 35px;
    }

    .promo .right img{
        width: 323px;
    }

    .promo .right .promoimg{
        width: 116%;
    }

    /* footer */

    .desc h3{
        font-size: 22px;
        line-height: 25px;
    }

    .desc p{
        font-size: 19px;
        margin: 50px 50px 0 0;
    }

    .imglogo{
        margin-top:15px;
    }

    .imglogo img{
        padding-right: 35px;
        width: 30px;
    }

    .info .empat{
        font-size: 22px;
        line-height: 25px;
    }

    

}


@media only screen and (max-width: 767px) {

    header{
        max-width: 660px;
    }

    .flex {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero .left h1{
        font-size: 29px;
    }

    .hero .left p{
        font-size: 12px;
    }

    .hero .right .au{
        width: 387px;
    }

    .reserv {
        margin-top: 60px;
    }

    .reserv a{
        padding: 4px 5px;
    }

    .wwa h5{
        font-size: 17px;
        margin: 0;
    }


    .wwa h2{
        font-size: 24px;
    }

    .img1{
        width: 105%;
    }

    .title h1{
        font-size: 25px;
    }

    .text p{
        margin: 35px 0 0 0;
    }

    .hidari p{
        font-size: 16px;
    }

    .hidari h5{
        font-size: 25px;
    }

    .monial h5{
        font-size: 17px;
        margin: 0;
    }

    .monial h2{
        font-size: 25px;
        padding: 0;
    }

    .row p{

    }

    .profile-name p{
        font-size: 10px;
    }

    .profile-name h2{
        font-size: 9px;
    }

    .promo .left h2{
        font-size: 25px;
    }

    form .email{
        font-size: 14px;
        padding: 15px 232px 15px 15px;
    }

    form button {
        font-size: 14px;
        right: 34px;
        margin: 11px;
        padding: 6px 25px;
    }

    .promo {
        margin-top: 60px;
    }

    .promo .right img{
        width: 243px;
    }

    .desc h3{
        font-size: 20px;
    }

    .info .empat{
        font-size: 20px;
    }

    .desc p{
        font-size: 17px;
    }

    .pilihan {
        font-size: 17px;
    }

    .imglogo{
        margin-top: 25px;
    }

    footer{
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .galeri{
        margin-top: -60px;
    }

    .number1{
        padding: 30px 0 0 30px;
    }

    .number2{
        padding: 30px 0 0 30px;
    }

}

@media only screen and (max-width: 479px) {


    .hero{
        margin-top: -40px;
    }

    i.menu-toggle-btn.fas.fa-bars.fa-times {
        position: fixed;
        z-index: 10;
        top: 25px;
        right: 27px;
        padding: 10px;
        margin-top: -10px;
        margin-right: -10px;
        height:auto;
    }
    nav ul{
        padding-top: 30px;
    }
    .menu-toggle-btn{
        display: block !important;
        position: relative;
        top: 25px;
        right: 15px;
    }
    .logo img{
        width: 155px;
        margin-left:10px;
    }
    .menu{
        position:fixed;
        width:100%;
        background: #fff;
        top:0;
        right:0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
        z-index: 4;
    }

    .menu::before{
        content:"";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        position: absolute;
        top: -10px;
        right: 10px;
    }

    .menu a{
        display:block;
        / margin: 10px 0; 
        text-align: center;
        padding-top: 0;
    }

    .menu.active{
        display: block;
        height:100vh;
    }

    .menu li{
        display:inline;
    }

    .flex{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero .left h1{
        font-size: 18px;
        margin-top: -23px;
    }

    .hero .left p{
        margin-right: 6px;
    }

    .hero .left {
        padding-top: 95px;
    }

    .hero .right .au{
        width: 189px;
        margin-left: 96px;
    }

    section .wwa{
        padding-top: 30px;
    }

    .reserv{
        margin-top: 0;
        padding: 6px 12px;
    }

    .wwa h5{
        font-size: 14px;
        margin-top: 40px;
    }

    .wwa h2{
        font-size: 16px;
    }

    /*.img1{
        width: 114%;
    }*/

    .ourspace{
        margin-top: -57px;
    }

    .satu {
        padding-top: 60px;
    }

    .title h1{
        font-size: 17px;
        line-height: 1.25em;
    }

    .hidari h5{
        font-size: 18px;
        margin: 0 0 2px 0;
    }

    .hidari p{
        font-size: 11px;
        padding-bottom: 24px;
    }

    .test p{
        margin: 20px 0 0 0;
    }

    .pic .uwau {
        width: 160px;
        margin-bottom: 63px;
    }

    .promo .left h2{
        font-size: 18px;
    }

    .promo .left {
        margin-top: 90px;
    }

    .text p{
        margin: 20px 0 0 0;
        padding: 0 0 15px 0;
    }

    form .email {
        font-size: 14px;
        padding: 10px 85px 10px 15px;
        width: 105%;
        box-sizing: border-box;
    }

    form button {
        font-size: 14px;
        right: 25;
        margin: -38px;
        padding: 3px 12px;
    }

    .promo .right .promoimg{
        width: 216px;
        margin-left: -96px;
    }

    .desc h3{
        font-size: 14px;
    }

    .desc p{
        font-size: 13px;
        margin: 25px 25px 0 0;
    }

    .info {
        width: 100%;
    }

    .info .empat{
        font-size: 13px;
    }

    .info ul{
        padding-top: 8px;
        display: inline-flex;
    }

    .info ul a{
        font-size: 14px;
        margin-right: 35px;
    }

    .info ul li{
        padding-bottom: 15px;
    }

    .imglogo img{
        padding-right: 20px;
        width: 5%;
    }

    .monial h5{
        font-size: 14px;
        margin-top: -51px;
    }

    .monial h2{
        font-size: 16px;
        line-height: 1.5em;
    }

    .number1{
        padding: 0;
    }

    .number2{
        padding: 0;
    }

    .row {
        flex-direction: column;
        box-sizing: border-box;
    }

    .testimoni .profile {
        width: 100%;
        margin: 0 0 20px 0;
        padding-bottom: 110px;
    }

    footer{
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .desc{
        margin-bottom: 40px;
        width: 100%;
    }

    .slick-prev, .slick-next{
        display: none !important;
    }

    .slick-dots{
        left: 0;
    }

    .slick-dots li {
        margin: 0 !important;
    }

    .gi-1{
        width:100%;
    }

    .gi-2{
        width:45%;
    }

    .gi-3{
        width:55%;
    }

    .gi-4{
        width:35%;
    }

    .gi-5{
        width:65%;
    }
    .grid-item{
        padding:5px;
    }
        


}